body {
    background-color: black; 
    color: white; 
}
.selected-answer {
    background-color: #0d6efd !important;
    color: #fff !important;
}
#question-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#submit-btn {
width: 20%;
}
.bg-light {
    background-color: #333 !important; 
    color: white; 
}
.leaderboard-container {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.leaderboard-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: #f9c74f; 
}
#leaderboard-list {
    padding: 0;
    list-style: none;
    margin: 0;
}
#leaderboard-list .list-group-item {
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
    font-size: 1rem;
}
#leaderboard-list .list-group-item:last-child {
    border-bottom: none;
}
#leaderboard-list .list-group-item:hover {
    background-color: #333333; 
}
.btn-start, .btn-prev,  .btn-submit {
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

.btn-resume, .btn-next, .btn-leave  {
    background-color: green;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

.btn-start:hover ,.btn-prev:hover,  .btn-submit:hover, .btn-resume:hover, .btn-next:hover, .btn-leave:hover {
    background-color: #0056b3;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 0; 
    margin-bottom: 0%;
}
#button-container1 {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 20px; 
}
.button-container .btn {
flex: 1; 
max-width: 200px; 
}
.slideshow-container {
    position: relative;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}
.slides {
    display: none;
    width: 100%;
    max-height: 300px; 
    object-fit: contain; 
    margin: auto;
}
.active-slide {
    display: block;
}
#submit-btn{
    background-color: green;
}
#leave-quiz-btn{
    background-color: red;
}
#prev-btn, #next-btn{
    background-color: white;
    color: blue;
}
#question-nav button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%; /* Ensures buttons are full width */
    text-align: left; /* Align text to the left */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color changes */
}

#question-nav button.answered {
    background-color: white; /* Background turns white */
    color: blue; /* Font turns blue */
    border: 1px solid blue; /* Optional: Border matches font color */
    transition: background-color 0.3s, color 0.3s; 
}
